<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCatsDay1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <h3>Hello <%= current_user.username %></h3>
    <%#= button_to "Logout!", action: logout_session_url %>
  <% else %>
    <%= button_to "Sign Up!", action: new_user_url %>
    <%= button_to "Login!", action: new_session_url %>
  <% end %>

<%= yield %>

</body>
</html>
